body{
  background-color: #FFF5E1
}

img{
  margin-right: 20px;
  float: left;
}

img:hover{
  background-color: gold;
}

.main{
  display: flex;
}

.left{
  background-color: #6FEDD6;
  border-radius: 10px;
  padding: 10px 20px 10px 20px ;
  /* width: 10rem; */
  box-shadow: 10px;
  height: 28rem;
  
}
.left h3{
  color: white;
  width: 10rem;
}
.right{
  margin-left: 5rem;
  margin-right: 5rem;
}

.heading{
  text-align: center;
}
.desc{
 text-align: justify;
 /* width: 62.5rem; */
}

a{
  color: white;
  text-decoration: none;
}

.hide-section {
  display: none;
}
